<div>
<header class="navbar">
    <div class="menu" id="menuCerrado">
        <img src="/img/menu.svg" alt="Menu">
    </div>
    <div class="center-section">
        <div class="logo">
            <img src="/img/logo.svg" alt="FisioCare">
        </div>
        <div class="title">
            <a href="/citas">FisioCare</a>
        </div>
    </div>
    <div class="profile">
        <a href="/logout">
            <img src="/img/profile.svg" alt="Perfil">
        </a>
    </div>
</header>
</div>