<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FisioCare - Citas</title>
    <link rel="stylesheet" href="/src/assets/css/citas.css">
</head>
<body>
    <header class="navbar">
        <div class="menu" id="menuCerrado">
            <img src="/src/assets/img/menu.png" alt="Menu">
        </div>
        <div class="left-section">
            <div class="logo">
                <img src="/src/assets/img/logo.png" alt="FisioCare">
            </div>
            <div class="title">
                <p>FisioCare</p>
            </div>
        </div>
        <div class="profile">
            <img src="/src/assets/img/profile.png" alt="Perfil">
        </div>
      </header>
    <div class="container">
        <h1>Citas</h1>
        <a href="/citas/create">Crear Cita</a>
    </div>
    
   
    
</body>
</html>