<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FisioCare - Citas</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div>
        <%- include('../components/header') %>
        <div class="container">
            <h1>Citas Médicas</h1>
            <img src="../img/calendar.svg" alt="citas-icon" class="citas-icon">
            <button class="btn-azul">
                <a href="/citas/agendar">Agendar Cita</a>
            </button>
            <button class="btn-azul">
                <a href="/citas/consultar">Consultar Cita</a>
            </button>
            <button class="btn-azul">
                <a href="/citas/admin">Admin</a>
            </button>
        </div>
        
    </div>
    
</body>
</html>